.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo img {
  width: auto;
  height: 3rem;
  margin-right: 5px;
}

.logo h1 {
  font-size: large;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin-right: 4rem;
}

li {
  margin: 0.5rem;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(61 163 237);
  text-decoration: none;
}

hr {
  color: gray;
  background-color: #ddd;
}
