.rocket-container {
  display: flex;
  align-items: center;
  width: 93vw;
  margin: 10px auto;
}

.rocket-image-container img {
  height: 12rem;
  width: 12rem;
  margin: 10px;
}

.rocket-title {
  font-size: large;
}

.rocket-desc {
  font-size: large;
}

.reserved-badge {
  color: white;
  background: rgb(13 133 13);
  font-size: large;
  cursor: pointer;
}

.reserve-button {
  color: white;
  background: rgb(20 107 206);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(158 157 157);
  cursor: pointer;
}

.cancel-reservation-button {
  color: grey;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
